.taskContainer{
    min-width: 32rem;
    width: 38rem;

    display: flex;
    justify-content: space-around;

    padding: 0.8em;
    margin: 0.4em;
    border-bottom: 1px solid #274472;

    border-radius: 2px;
}

.taskContainer:hover{
    box-shadow:1px 1px 2px 2px #5885AF;
    border:none;
}

.taskContainer__taskdatacontainer{
    display: flex;
    flex-direction: column;
}

.taskContainer__title{
    margin-bottom:0.6em;
    font-size: 1.8rem;
}

.taskContainer__metadata{
    font-size: 1.4rem;
}

.taskContainer__btn{
    /* margin-left: 1em; */
    align-self: center;

    width: 3rem;
    height:3rem;

    border-radius: 50%;
    border: 2px solid black;    

    cursor: pointer;

    transition: background-color 0.5s, color 0.2s;
}

.finishbtnStyle{
    background-color: #41729F;
    color:#fff;
}

.finishbtnStyle:hover{
    box-shadow: 1px 0px 3px 2px #41729F;
}

.normalbtnStyle{
    background-color: #fff;
    color: #41729F
}

.normalbtnStyle:hover{
    background-color: #41729F;
    color:#fff;

    border:none;

}

.translateLeft__16--modifier{
    transform:translateX(-1.6rem);
}

.titleStrikethrough{
    display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.titleStrikethroughDone:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.6em;
	background: black;
	transform-origin: center left;
	animation: strikethrough 0.4s 0s cubic-bezier(.55, 0, .1, 1) 1;
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
